<div style="margin-top: -100px;">
<h1> 북극곰 야잠 </h1>
<br>
<h3>공지사항<br>
<!--아직 주문 전입니다! 아래있는 닉네임 변경사항과 투표해주세요<br>-->
<!--예상 가격 : 4.8 <br>-->
<!--서울캠 도와주시는 분이 없으면 북극곰님이 직접 전달하거나 택배로 한다고하네요.<br>-->

</h3>

<h3>투표 결과 베이지색으로 색상을 통일해 진행하게 됬습니다. <br>
아래로 내리시면 사이즈표가 있습니다. 참고해주세요<br>
곧 주문 폼을 해당 공지에 올리겠습니다.<br>
</h3>

<h3>이상 추가사항들이었습니다.</h3>

<h2><a href="https://open.kakao.com/o/gnZdh3J">공동구매 오픈 카톡 링크</a></h2>
<h2>입장코드 : HUFSMINE</h2>

<h2>베이지</h2>
<%= image_tag("color1.jpg", size: "339x480", alt: "베이지 색상") %>

<h2>베이지 실착 _ 등</h2>
<%= image_tag("color4.jpg", size: "339x480", alt: "블랙 색상") %>

<h2>사이즈 표</h2>
<%= image_tag("size.jpg" ,alt: "베이지 색상") %>


<h2>  <a href="https://open.kakao.com/o/sXK9bty">개발자 오픈카톡</a></h2>


<!--<h3>공지사항<br>-->
<!--아직 주문 전입니다! 아래있는 닉네임 변경사항과 투표해주세요<br>-->
<!--예상 가격 : 4.8 <br>-->
<!--서울캠 도와주시는 분이 없으면 북극곰님이 직접 전달합니다.<br>-->

<!--</h3>-->

<!--<h4> 닉네임을 캠퍼스_색상으로 바꾸어주세요 <br>-->
<!--예) 서울캠_베이지 글로벌캠_블랙 <br>(닉네임 통일해주세요)<br>-->
<!--그리고 서울캠 배부 도와주실분은 닉네임뒤에 서울캠 배부자 라고 적어주세요 </h4>-->
<!--<h3>페이지 하단에 실착사진 有</h3>-->
<!--<h3> </h3>-->
<!--<h5>북극곰 曰-->
<!--음 여러분에게 선택지가 2개 있어요-->

<!--1. 좀 비싸더라도 3개 다 해요-->
<!--2. 그냥 싸고 빠르게 하나만 해요-->

<!--이거는 지금(4/3)부터 내일까지 숫자 1, 2로 투표해도 될까요?-->
<!--<br> 닉네임 옆에 숫자를 추가해주세요!-->
<!--</h5>-->
<%#= image_tag("color2.jpg", size: "339x480", alt: "핑크 색상") %>
<%#= image_tag("color3.jpg", size: "339x480", alt: "블랙 색상") %>
<!--<br>-->


  <!--<p>leesj@likelion.org</p>-->
