<h1> 북극곰 야잠... </h1>

<h2> 사이트 test중 ... </h2>

<h2>시안 두가지</h2>

<%= image_tag("all_black.jpg", size: "339x480", alt: "Edit Entry") %>
<%= image_tag("mix_gray.jpg", size: "339x480", alt: "Edit Entry") %>