<h1> 북극곰 야잠... </h1>

<h2> 정식 사이트 준비중  </h2>

<h2>시안 두가지</h2>
<h3>시안 공개용 으로 준비중입니다. </h3>
<%= image_tag("all_black.jpg", size: "339x480", alt: "Edit Entry") %>
<%= image_tag("mix_gray.jpg", size: "339x480", alt: "Edit Entry") %>