<nav id="mainNav" class=" bg-light-gray navbar navbar-default navbar-fixed-top">
  <div id="wrapper">
    <div id="header text-center">
      <h2 class="section-heading text-center">likelion 6th</h2>
    </div>
     <!--Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-center" id="bs-navbar-collapse">
      <ul class="navbar-center">
        <li>
          <a href="/"><h3 class="section-heading">member</h3></a>
        </li>
        &nbsp
        <li>
          <a href="http://member.hufslion.info/team"><h3 class="section-heading">project</h3></a>
        </li>
        &nbsp
        <li>
          <a href="/calendar2"><h3 class="section-heading">Univ</h3></a>
        </li>
        &nbsp
        <li>
          <a href="/contact"><h3 class="section-heading">contact</h3></a>
        </li>
        <!--<li>-->
        <!--  <a href="/index1"><h3 class="section-heading">sponsor</h3></a>-->
        <!--</li>-->
      </ul>
    </div>
             <!--/.navbar-collapse -->
  </div>
         <!--/.container-fluid -->
</nav>
<div class="col-sm-12 team-member"style="margin-top: 200px;">
  <!--<a type="button" style="padding: 15px 30px;margin:20px;"class=" btn-xl text-center" href='http://member.hufslion.info/'>member 보러가기</a>-->
</div>
<h1 class="text-center">사이트 준비중...</h1>