<div class="col-sm-12 team-member"style="margin-top: 200px;">
  <a type="button" style="padding: 15px 30px;margin:20px;"class=" btn-xl text-center" href='http://member.hufslion.info/'>member 보러가기</a>
</div>
<h1 class="text-center">사이트 준비중...</h1>