<div class="text-center">
  <h2 class="section-heading"><a href="/"style="text-decoration:none !important ;color: black">hufsglobal X likelion</a></h2>
  <h3 class="section-heading text-muted">likelion</h3>
</div>
<div class="col-sm-12 team-member"style="margin-top: 10px;">
  <a type="button" style="padding: 15px 30px;margin:20px;"class=" btn-xl text-center" href='http://member.hufslion.info/'>member 보러가기</a>
</div>
<h1 class="text-center">사이트 준비중...</h1>