<div class="text-center">
  <h2 class="">HUFS Global likelion</h2>
  <h3 class="text-muted">Project team Member</h3>
<div class="team-member">
  <img style="width:250px; height:250px;"src="<%= image_path 'joon.jpg' %>" class="img-responsive img-circle" alt="">
  <h4 class="member-name">이성준</h4>
  <h4 ><a class="text-muted" href="https://pf.kakao.com/_xbqXxfd" target="_blank">카카오톡 플러스친구</a></h4>
</div>
</div>
    