<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
   

</head>

<body class="bg-light-gray">
  <div id="wrapper">
    <div id="header" class="text-center text-muted">
      본 서비스는 모바일 최적화되어있습니다.
    </div>
    <div id="container">
      <%= yield %>
	  </div>
    <div id="footer" class="text-center text-muted">
      <a href="http://member.hufslion.info/developer" class="">개발자 정보</a>
      <span class="copyright">developed by LIKELION x HUFS global</span><br>
    </div>
  </div>
</body>
</html><!--/*.horizon1{ display: table; margin-left: auto; margin-right: auto; display: inline-block; }*/-->
<!--/*.horizon{ display: table; margin-left: auto; margin-right: auto; }*/-->
